* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* header styling */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  top: 0;
  left: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 1rem 2rem;
}

.header nav a {
  margin-left: 30px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  color: #333;
}

.header-nav {
  margin-right: 40px;
}

.header nav a img {
  width: 18px;
}

.scrolled {
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.15);
}

.menu-toggle {
  display: none;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: black;
  padding-left: 43px;
  font-size: 40px;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.185);
  }

  100% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.543);
  }
}

/* SCROLL BAR STRIP */
.strip {
  background: #111;
  color: white;
  margin: 25px 0;
  padding: 12px 0;
  text-align: center;
  letter-spacing: 3px;
  font-size: 14px;
}

/* COLLECTION */
.collection {
  margin-top: 40px;
}

.collection h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.filters button {
  border: none;
  padding: 10px 16px;
  background: #eee;
  cursor: pointer;
}

.filters .active {
  background: #111;
  color: white;
}

.products2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product2 {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.products2 button a{
  text-decoration: none;
  color: white;
}
.product2 img {
  width: 100%;
}

.product2 h4 {
  margin-top: 10px;
  font-size: 14px;
}

.product2 p {
  color: #666;
  font-size: 13px;
}

.product2 button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #111;
  color: white;
}

.container {
  width: 1200px;
  margin: auto;
}

.shopLink a {
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  background: white;
  margin-top: 60px;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-buttons a{
  text-decoration: none;
}
.btn-light a{
  color: black;
}
.btn-dark a{
  color: white;
}
.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 70px;
  line-height: 1.05;
  margin-bottom: 20px;
  margin-bottom: 20px;
  color: #111827;
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: none;
  animation: typing 4s steps(22) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 22ch;
  }
}


.hero-text p {
  color: #666;
  margin-bottom: 25px;
}

.hero-buttons button {
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}

.btn-dark {
  background: #111;
  color: white;
}

.btn-light {
  background: #eee;
}

.hero img {
  width: 450px;
  border-radius: 10px;
}

.hero-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 40px rgba(99, 102, 241, 0.45);
}

/* why shop section */

.whyShop {
  padding: 60px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.461);
  background-color: #dcd6d6;
}

.whyShop h1 {
  position: relative;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.whyShop h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50px;
  height: 4px;
  background: #E3A018;
  border-radius: 2px;
}

.card-icons img {
  width: 58px;
  margin-bottom: 5px;

}

.features {
  display: flex;
  gap: 20px;
  color: rgba(0, 0, 0, 0.74);
  margin-top: 50px;
}

.feature-card {
  background: #0f172a;
  background-color: rgba(128, 128, 128, 0.301);


  border-radius: 10px;
  border: 1px solid;

  padding: 60px;
  flex: 1;
}

.feature-card h3 {
  padding-bottom: 5px;
}


/*hero-2 section */

.hero-2 {
  position: relative;
  height: 500px;
  width: 100%;

  display: flex;
  align-items: center;
  background-color: white;

  padding: 50px;
  overflow: hidden;
  flex-wrap: 1;

}

.hero2-img {
  width: 400px;
  padding-top: 20px;
  padding-left: 10px;

}

.hero2-text {
  margin-left: 190px;

}

.hero2-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;

}



.hero2-text p {
  margin-bottom: 20px;
  padding: 10px;
}

.hero2-text button {
  background: #E3A018;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
}

/* products section */

.products {
  width: 80%;
  margin: 60px auto;

  text-align: center;
}

.products h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.products h2 span {
  color: #e63946;
  position: relative;
}

.products h2 span::after {
  content: "";
  width: 35px;
  height: 3px;
  background: #e63946;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.product-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  background: #fff;
  padding: 20px;

  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.img-box {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  object-fit: contain;
  display: block;
}

/* ADD TO CART BUTTON */
.cart-btn {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff9900;
  color: #000;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
  opacity: 0;
}

/* HOVER EFFECT PER CARD */
.product-card:hover .cart-btn {
  bottom: 15px;
  opacity: 1;
}

.product-card:hover img {
  transform: scale(1.05);
}

.img-box img {
  transition: transform 0.3s ease;
}

.title {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
}

.price {
  font-size: 14px;
  color: #333;
}

.view-all {
  margin-top: 40px;
  background: #e63946;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
}


/* SUBSCRIBE */
.subscribe {
  background: #dcd6d6;
  text-align: center;
  padding: 70px 20px;
}

.subscribe h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.subscribe p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.subscribe-form input {
  width: 320px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.subscribe-form button {
  padding: 12px 35px;
  border-radius: 25px;
  border: none;
  background: #f7444e;
  color: #fff;
  cursor: pointer;
}

/* TESTIMONIAL */
.testimonial {
  text-align: center;
  padding: 80px 20px;
}

.testimonial h2 {
  font-size: 30px;
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  background: #f7444e;
  margin: 10px auto 40px;
}

.testimonial-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #f7444e;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.profile {
  max-width: 600px;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 120px;
  height: 120px;
}

.profile h3 {
  margin-bottom: 3px;
}

.profile small {
  color: gray;
}

.profile p {
  font-size: 14px;
  margin-top: 15px;
  color: #555;
}

/* FOOTER */
footer {
  background: #f8f8f8;

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 60px 65px 0;
  margin: auto;
}

.footer-box {
  padding-right: 30px;
  padding: 8px;
  text-align: center;
}

.footer-box h4 {
  margin-bottom: 15px;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-box a {
  text-decoration: none;
  color: #333;
}

.footer-box a:hover {
  color: blue;
}

.logo {
  font-size: 26px;
  color: black;
}

.footer-box h3 {
  padding-bottom: 10px;
  padding-right: 15px;
}

.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
}

.newsletter button {
  background: #f7444e;
  color: #fff;
  border: none;
  padding: 10px 18px;
}

/* COPYRIGHT */
.copyright {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 13px;
  margin-top: 40px;
  width: 100%;
  font-size: 13px;
}




